##### Dirs and files for ignoring #####


##### dirs #####
Distr
Temp
Ui
xLib_makefile_gcc
android-build


##### files #####
todo.txt
*.pro.user
*.pro.user.*
*.autosave
Makefile*
*.pdb
android-libiTeacher.so-deployment-settings.json

