################################################################################
# \file  .gitignore
# \brief Dirs and files ignoring by GIT
#
################################################################################


################################################################################
# dirs
.vscode/
# Projects/*_build
# Projects/build-*

################################################################################
# files
CMakeLists.txt.user
.cproject
.project

################################################################################
# Projects
Projects/iTeacher_build/*
!Projects/iTeacher_build/*.sh

Projects/Trainer_build/*
!Projects/Trainer_build/*.sh

Projects/SentenceBuilder_build/*
!Projects/SentenceBuilder_build/*.sh

Projects/build-iTeacher-Desktop-*

